@model AMC2.Models.Membership

@{
    ViewBag.Title = "Login";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <link href="~/Content/Login/StyleSheet.css" rel="stylesheet" />


</head>
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container">
            <a href="#" class="navbar-brand text-uppercase font-weight-bold">Attendence Marking for Classroom</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })
                    </li>

                    <li class="nav-item">

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Registration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" role="menu">

                            <li">@Html.ActionLink("User", "Signup", "Account", new { area = "" }, new { @class = "dropdown-item text-uppercase font-weight-bold" })
                    </li>
                    <li>@Html.ActionLink("Admin", "Asignup", "Account", new { area = "" }, new { @class = "dropdown-item text-uppercase font-weight-bold" })</li>
                </ul>
                </li>
                </li>
                <li class="nav-item">

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu" role="menu">

                        <li>@Html.ActionLink("User", "login", "Account", new { area = "" }, new { @class = "dropdown-item text-uppercase font-weight-bold" })</li>
                        <li>@Html.ActionLink("Admin", "Alogin", "Account", new { area = "" }, new { @class = "dropdown-item text-uppercase font-weight-bold" })</li>
                    </ul>
                </li>
                </li>

                <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })</li>

                </ul>
            </div>
        </div>
    </nav>
</header>
@if (@TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>@*x*@
        </button>
    </div>
}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/Account/Login" method="post" class="form">
        <h3>User Login </h3>

        <label class="label" for="username">Username</label>

        <input class="input" id="username" name="Username" type="text" value="">

        <label class="label" for="password">Password</label>
        <input class="input" id="password" name="Password" type="password" placeholder="Password">

        <button class="button" type="submit">Log In</button>
        <div>
            @Html.ActionLink("Click to sign up", "Signup", new { @class = "form-control" })
        </div>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
