@model IEnumerable<AMC2.Models.enroll>

@{
    ViewBag.Title = "Attendence";
}

<h2>Attendence</h2>

<table class="table">
    <tr>
        <th>
            <label>Session_Id</label>
        </th>
        <th>
            <label>Username</label>
        </th>
        <th>
            <label>Session Des</label>
        </th>
        <th>
            <label>Skill</label>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
   
    <td>
        @Html.DisplayFor(modelItem => item.userreg.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.session_Details.Session_Des)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.skillset.Skill_Type)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Sno }) |
        @Html.ActionLink("Details", "Details", new { id = item.Sno }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Sno })
    </td>
</tr>
}

</table>
