@model IEnumerable<AMC2.Models.session_Details>

@{
    ViewBag.Title = "SessionList";
}
<head>
    <style>
        h2.welcome {
            text-align: center;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/TableStyle.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container">

                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Enroll", "Index", "Enrolls", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Session", "SessionList", "Marks", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Feedback", "Index", "Feedback", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link text-uppercase font-weight-bold" })
                            </li>


                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h2 class="welcome  text-uppercase font-weight-bold ">Welcome @User.Identity.Name </h2>
    <h2>Session Report </h2>
</body>


<table class="table">
    <tr>
        <th>
            <label>Session ID</label>
        </th>
        <th>
            <label>Session Des</label>
        </th>
        <th>
            <label>Session Date</label>
        </th>
        <th>
            <label>Session Time</label>
        </th>
        <th>
            <label>Slots Available</label>
        </th>
        <th>
            <label>Skill</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Session_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session_Des)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available_Slots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skillset.Skill_Type)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
