@model IEnumerable<AMC2.Models.Feedback>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        h2.welcome {
            text-align: center;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Attendence Marking for Classroom", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>


                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Enroll", "Index", "Enrolls")</li>
                        <li>@Html.ActionLink("Session", "Index", "Session")</li>
                        <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <h2 class="welcome">Welcome @User.Identity.Name </h2>
    <h2>Feedback Report </h2>

</body>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.msg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.session_Details.Session_Des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userreg.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.msg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.session_Details.Session_Des)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userreg.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
